<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright Xeno Innovations, Inc. 2017
 * Author:  Damian Suess
 * Date:    2017-5-23
 * File:    packages.config
 * Description:
 *  
 * To Do:
 * Change Log:
 *  2017-523 * Initial creation
-->
<packages>
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net45" />
</packages>